@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~bootstrap/dist/css/bootstrap.min.css';


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 200, 200, 200;
    --background-end-rgb: 50, 50, 50;
  }
}

body {
  color: rgba(255, 255, 255, 0.9);
  background: #343a40;
}
.Footer{
  text-align: center;
  margin-top: auto;
}
.App{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.Icons{
  max-width: 750px;
  margin: 0 auto;
  font-size: 2rem;
}
.highlighted-link {
  color: rgb(220, 220, 220);
  text-decoration: underline;
  font-weight: bold;
}
.authentication-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.authentication-page h1 {
  font-size: 2em; 
}

.authentication-page p {
  font-size: 1.5em;
}
